/*font-family: 'Montserrat', sans-serif;*/
/*font-family: 'Questrial', sans-serif;*/
/*font-family: 'Monoton', cursive;*/

html,body {
  position: relative;
  overflow-x: hidden; 
  font-family: 'Questrial', sans-serif;
  overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
  font-family: 'Fredericka the Great', cursive;
}
.landing_banner_cover .item {
  float: left;
  padding: 0 15px;
  width: 33.33%;
}
.landing_banner_cover {
  padding: 0 15px 60px;
}
.landing_banner_cover:after {
  content: "";
  display: block;
  clear: both;	
}
.landing_banner_cover .landing_banner_img {
  border: 1px solid #d4d4d4;
  box-shadow: 10px 10px 0 0 rgba(0, 0, 0, 0.08);
}
.landing_banner_logo_img {
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 19px 64px -29px rgba(0, 0, 0, 0.6);
  display: block;
  margin: 50px auto 28px;
  padding: 18px 25px;
}
.landing_banner_logo_img_cover::after {
  background-color: #000;
  border-radius: 16px;
  content: "";
  display: block;
  height: 75px;
  margin: 0 auto 28px;
  width: 2px;
}
.landing_banner_logo_img_cover.landing_banner_ver_01::after {
  background-color: #ef0160;
}
.landing_banner_logo_img_cover.landing_banner_ver_02::after {
  background-color: #49c5b6;
}
.landing_banner_logo_img_cover.landing_banner_ver_03::after {
  background-color: #632695;
}
.landing_gallery_cover {
  padding: 90px 0 220px;
  background-image: url("../images/landing_page_bg.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-color: #060606;
}
.landing_heading {
  font-size: 60px;
  margin-bottom: 50px;
  text-align: center;
  color: #fff;
}
.landing_gallery_cover .row > div {
  margin-top: 100px;
}
.landing_gallery_cover .row > div.mid_gallery_cover {
  margin-top: 0;
}
.landing_container {
  padding: 0 30px;
}
.landing_img_item {
  box-shadow: 15px 15px 0 0 rgba(0, 0, 0, 0.08);
  margin: 0 auto;
  max-width: 380px;
}
.landing_footer::after {
  background-color: rgba(0, 0, 0, 0.38);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.landing_footer {
  position: relative;
  background-image: url("../images/footer_img.jpg");
  padding: 60px 0;
}
.landing_banner_content h3 {
  color: #fff;
  font-size: 90px;
  text-align: center;
}
.landing_banner_content {
  position: relative;
  text-align: center;
  z-index: 1;
}
.landing_banner_logo_img_cover {
  background-image: url("../images/glass_img_01.png");
  background-position: center 100%;
  background-repeat: no-repeat;
  background-size: 100% auto;
  max-width: 450px;
  margin: auto;
}
.landing_banner_logo_img_cover.landing_banner_ver_02 {
  background-image: url("../images/glass_img_02.png");
}
.landing_banner_logo_img_cover.landing_banner_ver_03 {
  background-image: url("../images/glass_img_03.png");
}
.landing_gallery_cover {
  position: relative;
}
.landing_gallery_cover:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/landing_upper_page_bg.png");
  background-repeat: no-repeat;
}
.landing_container {
  padding: 0 30px;
  position: relative;
  z-index: 1;
}
.landing_img_item h3 {
  margin-top: 25px;
  position: absolute;
  text-align: center;
  top: 100%;
  width: 100%;
  font-size: 22px;
  color: #fff;
}
.landing_img_item img {
  border-radius: 5px;
}
.sub_page_box {
  border: 0 none;
  border-radius: 21px;
  height: 1428px;
  left: 0;
  position: absolute;
  top: 0;
  transform: scale(0.28);
  transform-origin: 0 0 0;
  width: 356%;
}
.landing_img_item a {
  display: block;
  height: 350px;
  overflow: hidden;
  border-radius: 3px;
  position: relative;
}
.landing_img_item a {
  position: relative;
}
.landing_img_item a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.main_page_box {
  border: 4px solid #d4d4d4;
  box-shadow: 40px 40px 0 0 rgba(0, 0, 0, 0.08);
  height: 2135px;
  position: absolute;
  top: 205px;
  transform: scale(0.314);
  transform-origin: 0 0 0;
  width: 320%;
  left: 0;
}
.landing_banner_cover {
  overflow: hidden;
}
.landing_banner_cover > .item {
  height: 970px;
  overflow: hidden;
}
.landing_banner_cover .banner_ver_all {
  position: relative;
  display: block;
  height: 875px;
}
.landing_banner_cover .banner_ver_all:before {
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 11;
}




/*responsive*/

@media screen and (max-width: 1240px) {
    .landing_banner_logo_img_cover::after {
      height: 22px;
    }
}

@media screen and (max-width: 1000px) {
    .landing_banner_content h3 {
      font-size: 50px;
      margin-bottom: 0;
    }
    .landing_footer {
      padding: 25px 15px;
    }
    .landing_gallery_cover {
      padding: 20px 0 110px;
    }
    .landing_heading {
      font-size: 45px;
      margin-bottom: 25px;
    }
}

@media screen and (max-width: 767px) {

    .landing_banner_cover .item {
      float: none;
      width: 100%;
    }
    .landing_banner_logo_img_cover {
      background-size: 60% auto;
      max-width: 450px;
    }
    .landing_banner_cover .item {
      margin: auto;
      max-width: 550px;
    }
    .banner_ver_all::after {
      content: "";
      height: 22px;
    }
    .landing_gallery_cover .row > div {
      margin-bottom: 85px;
      margin-top: 0;
    }
    .landing_gallery_cover {
      padding: 20px 0 15px;
    }   
    .main_page_box {
      top: 150px;
    }
    .landing_banner_cover > .item {
      height: 848px;
      margin-bottom: 30px;
    }    
    .landing_banner_logo_img {
      margin: 0 auto 28px;
    }
    .landing_banner_cover > .item {
      margin-bottom: 10px;
    }
    .landing_banner_cover {
      padding: 0 15px 25px;
    }
    .landing_gallery_cover {
      padding: 45px 0 15px;
    }
    .landing_heading {
      font-size: 35px;
    }


}


@media screen and (max-width: 400px) {

    .landing_banner_content h3 {
      font-size: 36px;
    }

}